@use '../media';

@mixin mobile {
  @include media.for-mobile {
    #banner {
      overflow: hidden;

      #banner-title {
        justify-items: end;
        #hero-header {
          font-size: 32px;
        }
      }

      #parallax-container {
        border-style: none;
      }
    }
  }
}