@use '../fonts';

#index-hero {
  @include fonts.f_saira_condensed;
  grid-column-start: 2;
  grid-row-start: hero-row-start;
  
  #hero-header {
    display: flex;
    flex-direction: column;

    .header-title {
      font-size: 1em;
      color: white;
    }
    .header-subtitle {
      font-size: 0.75em;
      color: fuchsia;
    }
  }
}