@use '../images';
@use '../anim';
@use '../vars';
@use '../media';

$background: "#background";
$buildings-far: "#buildings-far";
$buildings-near: "#buildings-near";

@mixin skyline-background {
  #{$background} {
    background: url(images.$bg_skyline_a) repeat-x;
    background-position: center 125%;
    animation: colorpulse alternate infinite 10s ease-in-out;
    background-size: auto 120%;
    background-color: #031B70;
  }
}

@mixin buildings-far {
  #{$buildings-far} {
    background: url(images.$bg_buildings_far) repeat-x;
    background-position: center bottom;
    background-size: 50% 70%;
  }
}

@mixin buildings-near {
  #{$buildings-near} {
    background: url(images.$bg_buildings_near) repeat-x;
    background-position: center 100%;
    background-size: 50% 60%;
  }
}

#parallax-toggle-btn {
  pointer-events: auto;
  position: absolute;
  z-index: 5;
}

#scene {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  image-rendering: crisp-edges;
  overflow: hidden;


  #{$background, $buildings-far, $buildings-near} {
    width: 120%;
    height: 120%;
  }
  
  @include skyline-background;
  @include buildings-far;
  @include buildings-near;
}

@include media.for-mobile {
  #scene {
    #{$background} {
      background-size: auto 100%;
    }
    #{$buildings-far} {
      background-size: 90% 60%;
      background-position: center 60%;
    }
    #{$buildings-near} {
      background-size: 150% 60%;
      background-position: center 140%;
    }
  }
}