@font-face {
  font-family: "Press Start 2P";
  src: url("../../fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "04B_03";
  src: url("../../fonts/f_04B03.woff");
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../../fonts/SairaCondensed-Regular.ttf");
}
.container {
  padding: 16px;
  box-sizing: border-box;
}

ul.no-bullet, ol.nobullet {
  list-style-type: none;
  padding-left: 0;
}

.text-center {
  text-align: center;
}

.centered-vert {
  display: block;
  margin: auto 0;
}

.centered-hor {
  display: block;
  margin: 0 auto;
}

.centered {
  display: block;
  margin: auto;
}

@keyframes colorpulse {
  0% {
    filter: brightness(1) saturate(1.2);
  }
  100% {
    filter: brightness(1.2) saturate(1.5);
  }
}
#parallax-toggle-btn {
  pointer-events: auto;
  position: absolute;
  z-index: 5;
}

#scene {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  image-rendering: crisp-edges;
  overflow: hidden;
}
#scene #background, #scene #buildings-far, #scene #buildings-near {
  width: 120%;
  height: 120%;
}
#scene #background {
  background: url("../../../images/warped_assets/background/skyline-a.png") repeat-x;
  background-position: center 125%;
  animation: colorpulse alternate infinite 10s ease-in-out;
  background-size: auto 120%;
  background-color: #031B70;
}
#scene #buildings-far {
  background: url("../../../images/warped_assets/background/buildings-bg.png") repeat-x;
  background-position: center bottom;
  background-size: 50% 70%;
}
#scene #buildings-near {
  background: url("../../../images/warped_assets/background/near-buildings-bg.png") repeat-x;
  background-position: center 100%;
  background-size: 50% 60%;
}

@media all and (max-width: 479px) {
  #scene #background {
    background-size: auto 100%;
  }
  #scene #buildings-far {
    background-size: 90% 60%;
    background-position: center 60%;
  }
  #scene #buildings-near {
    background-size: 150% 60%;
    background-position: center 140%;
  }
}
#index-hero {
  font-family: "Saira Condensed";
  grid-column-start: 2;
  grid-row-start: hero-row-start;
}
#index-hero #hero-header {
  display: flex;
  flex-direction: column;
}
#index-hero #hero-header .header-title {
  font-size: 1em;
  color: white;
}
#index-hero #hero-header .header-subtitle {
  font-size: 0.75em;
  color: fuchsia;
}

#banner {
  position: relative;
}
#banner #banner-title {
  position: relative;
  font-size: 24px;
  pointer-events: none;
  margin: auto 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr [hero-row-start] 1fr 1fr;
}
#banner #parallax-container {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border: inset 10px black;
  position: absolute;
}

@media all and (max-width: 479px) {
  #banner {
    overflow: hidden;
  }
  #banner #banner-title #hero-header {
    font-size: 32px;
  }
  #banner #parallax-container {
    border-style: none;
  }
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
  z-index: 0;
}

#carousel-container {
  width: 300%;
  height: 100%;
}

#main-container {
  width: 33.334%;
  height: 100%;
  display: grid;
}

@media all and (max-width: 479px) {
  #main-container {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
