<div id="index-hero">
  <div id="hero-header" class="centered-vert text-center">
    <h1 class="header-title centered-hor">
      < SKANG.TECH >
    </h1>
    <h3 class="header-subtitle centered-hor">
      (steven kang)
    </h3>
  </div>
</div>