<div id="index-hero">
  <div id="hero-header" class="centered-vert">
    <div class="header-title">
      Steven Kang
    </div>
    <div class="header-subtitle">
      I build stuff
    </div>
  </div>
</div>