<div id="scene">
  <!-- <div id="main-menu" data-depth-x="0.01" data-depth-y="0.05">
    <div id="menu-building">
      <div id="enter-sign"></div>
    </div>
  </div> -->
  <div id="background" data-depth-x="0.4" data-depth-y="1"></div>
  <div id="buildings-far" data-depth-x="0.8" data-depth-y="2"></div>
  <div id="buildings-near" data-depth-x="1.2" data-depth-y="4"></div>
</div>