<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1 />
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="styles/css/cyber/style.css"/>
    <title>skang.tech</title>
  </head>
  <body>
    <div id="carousel-container">
      <div id="main-container" class="container">
        <div id="banner">
          <button id="parallax-toggle-btn">Parallax Off</button>
          <div id="parallax-container">
            <%-  include('_parallax-scene')  %>
          </div>
          <div id="banner-title">
            <%- include('_hero-header') %>
          </div>
        </div>
      </div>
    </div>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/parallax.min.js"></script>
    <script src="js/cyber/index.js"></script>
  </body>
</html>
