<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="styles/css/cyber/style.css"/>
    <title>skang.tech</title>
  </head>
  <body>
    <div id="parallax-container">
      <%-  include('_parallax-scene')  %>
    </div>
    <div id="index-container" class="container">
      <%- include('_hero-header') %>
    </div>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/parallax.min.js"></script>
    <script src="js/cyber/index.js"></script>
  </body>
</html>
